## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.gz
il_piccolo_principe/Il Piccolo Principe.htm
il_piccolo_principe/img/css_054c3c7c6b9de44f76a5615e9ea4b633.css
il_piccolo_principe/img/js_bf09fad38cc8a469540d70be624c1655.jsmin.js
il_piccolo_principe/principe.md
il_piccolo_principe/principe.tex
*.gif
il_piccolo_principe/img/Thumbs.db
